{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}

<h1 class="h3 mb-3 font-weight-normal">Registration</h1>



{{form(regForm)}}
<h4><a href="{{path('app_login')}}">Login</a></h4>
</div>

{% endblock %}
